@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            font-family: 'DM Sans', sans-serif;
        }

        body {
            width: 100%;
            height: auto;
            background: #252525;
            color: #E6E6E6;
        }



        nav .nav-main .nav-mobile-menu {
            display: none;
            cursor: pointer;
        }

        nav .nav-main .nav-mobile-menu img {
            width: 100%;
            display: block;
        }

        nav .nav-main ul {
            display: flex;
            list-style-type: none;
            align-items: center;
        }

        nav.mobile-menu ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            width: 100%;
        }

        nav.mobile-menu ul:first-child {
            padding-bottom: 10px;
            border-bottom: 1px solid #4f4f4f42;
        }

        nav.mobile-menu ul:last-child {
            padding-top: 10px;
        }

        nav.mobile-menu ul:last-child li:last-child {
            margin-top: 10px;
        }

        nav .nav-main ul li,
        nav.mobile-menu ul li {
            border-radius: 5px;
        }

        nav .nav-main ul li a,
        nav.mobile-menu ul li a {
            text-decoration: none;
            display: block;
            font-size: 15px;
            font-weight: 400;
            color: #E6E6E6;
            padding: 12px 15px;
            border-radius: 5px;
            transition: .2s background ease;
        }

        nav .nav-main ul li a:hover,
        nav.mobile-menu ul li a:hover {
            background: rgb(128 128 128 / 23%);
        }

        nav .nav-main ul li:last-child a,
        nav.mobile-menu ul li:last-child a {
            color: #fff;
            font-weight: 600;
            background-color: #664efc;
            margin-left: 10px;
        }




        footer {
            width: 100%;
            padding: 50px 0px 50px 0px;
            display: flex;
            justify-content: center;
            background: #252525;
        }

        footer .footer-main {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 50px;

        }


      

        footer .footer-main .footer-content {
            display: flex;
            column-gap: 50px;
        }

        footer .footer-main .footer-content .footer-1 {
            width: 40%;
            display: flex;
            flex-direction: column;
            row-gap: 15px;
        }

        footer .footer-main .footer-content .footer-1 .footer-1-logo {
            text-decoration: none;
            font-size: 20px;
            font-weight: 700;
            color: #E6E6E6;
        }

        footer .footer-main .footer-content .footer-1 .footer-l-content,
        footer .footer-main .footer-content .footer-1 .footer-1-copyright {
            line-height: 20px;
            color: #E6E6E6;
            font-size: 15px;
        }

        footer .footer-main .footer-content .footer-2 {
            width: 60%;
            display: flex;
            justify-content: space-between;
        }

        footer .footer-main .footer-content .footer-2 .footer-f1,
        footer .footer-main .footer-content .footer-2 .footer-f2 {
            display: flex;
            width: 50%;
        }

        footer .footer-main .footer-content .footer-2 .footer-2-1,
        footer .footer-main .footer-content .footer-2 .footer-2-2,
        footer .footer-main .footer-content .footer-2 .footer-2-3,
        footer .footer-main .footer-content .footer-2 .footer-2-4 {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            width: 50%;
        }

        footer .footer-main .footer-content .footer-2 .footer-2-1 .footer-2-1-title,
        footer .footer-main .footer-content .footer-2 .footer-2-2 .footer-2-2-title,
        footer .footer-main .footer-content .footer-2 .footer-2-3 .footer-2-3-title,
        footer .footer-main .footer-content .footer-2 .footer-2-4 .footer-2-4-title {
            font-size: 16px;
            color: #E6E6E6;
        }

        footer .footer-main .footer-content .footer-2 .footer-2-1 .footer-2-1-links,
        footer .footer-main .footer-content .footer-2 .footer-2-2 .footer-2-2-links,
        footer .footer-main .footer-content .footer-2 .footer-2-3 .footer-2-3-links,
        footer .footer-main .footer-content .footer-2 .footer-2-4 .footer-2-4-links {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            row-gap: 5px;
        }

        footer .footer-main .footer-content .footer-2 .footer-2-1 .footer-2-1-links li a,
        footer .footer-main .footer-content .footer-2 .footer-2-2 .footer-2-2-links li a,
        footer .footer-main .footer-content .footer-2 .footer-2-3 .footer-2-3-links li a,
        footer .footer-main .footer-content .footer-2 .footer-2-4 .footer-2-4-links li a {
            text-decoration: none;
            color: #E6E6E6;
            font-size: 14px;
        }

        footer .footer-main .footer-text {
            width: 100%;
            text-align: center;
        }

        footer .footer-main .footer-content .footer-1 .footer-1-copyright a {
            text-decoration: none;
            color: #E6E6E6;
            font-weight: 600;
        }



        main section {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        main section.section-1 {
            background: #252525;;
           
            padding: 35px 0px 70px 0px;
            flex-direction: column;
            align-items: center;
            row-gap: 50px;
        }


        main section.section-1 nav {
            width: 80%;
            padding: 25px 0px;
            display: flex;
            justify-content: center;
            background: transparent;
        }

        main section.section-1 nav .nav-main {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
        }

        main section.section-1 nav .nav-main .nav-logo a img {
            display: block;
        }

        main section.section-1 nav.mobile-menu {
            padding: 0px;
            display: none;
        }

        main section.section-1 nav.mobile-menu.active {
            display: block;
            margin-top: -50px;
        }

        main section.section-1 .section-1-main {
            width: 80%;
            display: flex;
            align-items: center;
            position: relative;
            column-gap: 50px;
        }

        main section.section-1 .section-1-main .section-1-content {
            width: 50%;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }

        main section.section-1 .section-1-main .section-1-content .section-1-title {
            font-size: 2.1em;
           
            color: #E6E6E6;
        }

        main section.section-1 .section-1-main .section-1-content .section-1-title1 {
            font-size: 2.1em;
            
            color: #E6E6E6;
        }


        main section.section-1 .section-1-main .section-1-content .section-1-desc,
        main section.section-1 .section-1-main .section-1-content .section-1-alt-txt {
            color: #E6E6E6;
            line-height: 24px;
        }

        main section.section-1 .section-1-main .section-1-content .section-1-links {
          
            display: flex;
            align-items: center;
           
            width: 100%;
        }

        main section.section-1 .section-1-main .section-1-content .section-1-links .section-1-link {
            padding: 12px 18px;
            border-radius: 5px;
            text-decoration: none;
            color: #fff;
            background-color: #664efc;
        }

        main section.section-1 .section-1-main .section-1-content .section-1-imgs img {
            display: block;
        }

        main section.section-1 .section-1-main .section-1-content .section-1-alt-txt span {
            color: #664efc;
            font-weight: 500;
        }

        main section.section-1 .section-1-main .section-1-img {
           
            width: 50%;
        }

        main section.section-1 .section-1-main .section-1-img img {
            width: 100%;
            border-radius: 50%;
            display: block;
        }


        main section.section-2 {
            padding: 75px 0px 75px 0px;
        }

        main section.section-2 .section-2-main {
            width: 80%;
            display: flex;
            flex-direction: column;
            row-gap: 75px;
        }

        main section.section-2 .section-2-main .section-2-2,
        main section.section-2 .section-2-main .section-2-1 {
            display: flex;
            align-items: center;
            border-radius: 10px;
            column-gap: 100px;
        }

        main section.section-2 .section-2-main .section-2-2 .section-2-2-content,
        main section.section-2 .section-2-main .section-2-1 .section-2-1-content {
            
            width: 60%;
            display: flex;
            flex-direction: column;
            row-gap: 17px;
        }

        main section.section-2 .section-2-main .section-2-2 .section-2-2-content .section-2-2-title,
        main section.section-2 .section-2-main .section-2-1 .section-2-1-content .section-2-1-title {
           
            font-size: 36px;
            line-height: 40px;
        }

        main section.section-2 .section-2-main .section-2-2 .section-2-2-content .section-2-2-desc,
        main section.section-2 .section-2-main .section-2-1 .section-2-1-content .section-2-1-desc {
            color: #5a5444;
            line-height: 24px;
        }

        main section.section-2 .section-2-main .section-2-2 .section-2-2-content .section-2-2-link,
        main section.section-2 .section-2-main .section-2-1 .section-2-1-content .section-2-1-link {
            font-weight: bold;
            border-radius: 5px;
            text-decoration: none;
            color: #664efc;
            background-color: #fff;
            width: fit-content;
         
        }

        main section.section-2 .section-2-main .section-2-2 .section-2-2-img,
        main section.section-2 .section-2-main .section-2-1 .section-2-1-img {
            width: 40%;
        }

        main section.section-2 .section-2-main .section-2-2 .section-2-2-img img,
        main section.section-2 .section-2-main .section-2-1 .section-2-1-img img {
            width: 100%;
            display: block;
        }





        



        @media only screen and (max-width: 1200px) {

            main section.section-1 nav,
            main section.section-1 .section-1-main,
            main section.section-2 .section-2-main,
            footer .footer-main {
                width: 90%;
            }

            main section.section-1 {
                padding: 20px 0px 70px 0px;
            }

            main section.section-2 {
                padding: 65px 0px 65px 0px;
            }

}